APP_PORT=8081
DB_APP_HOST=mysql

API_BASEURL=http://localhost:${APP_PORT}
SRC_DIR=../sementara
DST_DIR=../../new

DB_ROOT_PASSWORD=root
DB_HOST=mysql
DB_PORT=3306
DB_USER=mrg
DB_PASS=123123123
DB_NAME=manga

MYSQL_URI=mysql://username:password@tcp(host:3306)/manga
JWT_SECRET=change_this_jwt_secret_key
